body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-item {
  font-size: 2em;
  display:inline;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

}
.list-item:hover {
  cursor: pointer;
  background-color: lightslategray;
}
.todoInfo {
list-style: none;
}
.todoInfoContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0.5em;
  justify-content: center;
}
.listContainer {
  display: flex;
  flex: 1fr 1fr 1fr;
}
.sort {
  padding-bottom: 0.5em;
}
.deleteButtonTodo {
  padding: 0;
  margin: 0;
}